body{
            background-color: #f8f8f8;
            width:450px;
        }
        
        .pic{
            position: relative;
            left: 70px;top:10px; 
        }
        .info_bk{
            position: relative;
            left: 30px;
        }
        #price{
            width:290px;
            background-color: #2ecc71;
         position: relative;
         left: 10px;
         text-align: center;      
        }
        .book{
            margin-top: 20px;
/*             background-color: blue; */
        }
        #heading{
/*             background-color: aquamarine; */
            margin-bottom: 10px;
            text-align: center;
        }
.book-library{ 
    position: relative;
    width: 350px;
    left: 50px;
    background-color:  #ffffff;
}